section#container {
   margin: 15rem auto 0;
   padding: 0 2rem;
   max-width: 1240px;

   form {
      display: flex;
      align-items: flex-end;
      gap: 1rem;

      div {
         display: flex;
         flex-direction: column;
         width: 100%;


         label {
            font-size: .85rem;
         }

         input {
            height: 40px;
            padding-left: 5px;
            font-size: 1.2rem;
         }
      }

      button {
         cursor: pointer;
         border: none;
         border-radius: 5px;
         width: 150px;
         height: 40px;
         background-color: #2F5555;
         color: white;
      }
   }

   ul#content {
      list-style: none;
      margin-top: 2rem;
      padding-left: .25rem;

      li {
         display: flex;
         align-items: center;
         gap: .5rem;
         margin-top: 2rem;

         input {
            height: 1rem;
            width: 1rem;
         }

         label {
            font-size: 1.2rem;
            flex: 1;
            word-wrap: break-word;
            overflow: hidden;
         }
      }
   }
}

.done {
   text-decoration: line-through;
}

#trash {
   font-size: 1.4rem;
   cursor: pointer;
}